```
$ pytest
==================================================================================== test session starts =====================================================================================
platform linux -- Python 3.6.9, pytest-5.4.1, py-1.8.1, pluggy-0.13.1
rootdir: /home/sam/Projects/Scienaptic/scienaptic-matrix-sort, inifile: pytest.ini, testpaths: tests/scmatsort
collected 22 items                                                                                                                                                                           

tests/scmatsort/test_merge_sort_solution.py ............                                                                                                                              [12/22]
tests/scmatsort/test_naive_solution.py ..........                                                                                                                                     [22/22]

===================================================================================== 22 passed in 0.15s =====================================================================================
```
